<!DOCTYPE html>
<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/scripts/languageFacts.js"></script>
    <script src="/scripts/logout.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/nav.css" />
    <link rel="stylesheet" type="text/css" href="/css/languageFacts.css" />
    <link rel="shortcut icon" href="../graphics/favicon.png" />
    <% if (facts){%>
        <script>var facts = <%- JSON.stringify(facts) %></script>
    <%}%>
</head>

<body>

    <div class="admin-col-left">
        <ul class="breadcrumb">
            <li>
                <a href="/main">Main</a> <span class="divider">/</span>
            </li>
            <li>
                <span><%= language %> <%= factType %> facts</span>
            <breadcrumb></breadcrumb>
        </ul>
    </div>

    <div class="contentWrapper">
        <h4 id="title"><%= language %> <%= factType %> facts</h4>
        <div class="content">
        </div>
    </div>
    <a id="logoutLink" href="logout">Logout</a>
</body>

</html>