<!DOCTYPE html>
<html>

<head>
    <title>Main Page</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <link rel="stylesheet" type="text/css" href="/css/content.css" />
    <link rel="stylesheet" type="text/css" href="/css/nav.css" />
    <link rel="shortcut icon" href="../graphics/favicon.png" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/scripts/main.js"></script>
    <script src="/scripts/logout.js"></script>
</head>

<body>

    <div class="admin-col-left">
        <ul class="breadcrumb">
            <li>
                <span>Main</span>  <span class="divider">/</span>
            </li>
            <breadcrumb></breadcrumb>
        </ul>
    </div>
    <h1>Welcome <%= name%></h1>

    <h2>LLUO9000 Main Page</h2><br />

    <div class="contentWrapper">
        <div class="content">
            <div class="panel">
                <h4>Flash Card Games</h4>
                <ul>
                    <% if (langPref == 'Spanish' || accessToken == 1) {%>
                        <li>
                            <a href="main/flashCardGames/Spanish">Spanish</a>
                        </li>
                    <%}%>

                    <% if (langPref == 'Italian' || accessToken == 1) {%>
                        <li>
                            <a href="main/flashCardGames/Italian">Italian</a>
                        </li>
                    <%}%>

                    <% if (langPref == 'French' || accessToken == 1) {%>
                        <li>
                            <a href="main/flashCardGames/French">French</a>
                        </li>
                    <%}%>

                    <% if (langPref == 'Irish' || accessToken == 1) {%>
                        <li>
                            <a href="main/flashCardGames/Irish">Irish</a>
                        </li>
                    <%}%>
                </ul>
            </div>
            <div class="panel">
                <h4>Facts</h4>
                <ul>
                    <li>
                        <a href="main/facts/type/language/language/<%= langPref %>">Language Facts</a>
                    </li>

                    <li>
                        <a href="main/facts/type/country/language/<%= langPref %>">Country Facts</a>
                    </li>

                    <li>
                        <a href="main/facts/type/culture/language/<%= langPref %>">Culture Facts</a>
                    </li>
                </ul>
            </div>
            <div class="panel">
                <h4>Find Users</h4>
                <ul>
                    <li>
                        <a href="main/users/search/language/<%= langPref %>">Fluent <%= langPref %> Users</a>
                    </li>
                </ul>
            </div>
            <div class="panel">
                <h4>Title Place Holder</h4>
                <ul>
                    <li>
                        <a href="main/admin/template">Place Holder</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <a id="logoutLink" href="logout">Logout</a>

</body>

</html>